.container {
  display: flex;
  height: 80vh; // TODO: change height
}

.chatsListContainer {
  width: 30vw;

  .createChatButton {
    margin-left: 15px;
  }

  .list {
    width: 100%;
  }
}

.createChatDialog {
  padding: 40px;

  .createChatForm {
    display: flex;
    flex-direction: column;

    & > div {
        margin-bottom: 20px;
    }
  }
}


