@import '../../../common/colors.scss';

.chatWindow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .messagesWindow {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .messagesWrapper {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }

    .inputForm {
      display: flex;
      justify-content: center;
    }
  }
}
