@import '../../../common/colors.scss';

.messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
  &.currentUser {
    align-self: flex-end;
    align-items: flex-end;
  }
  .message {
    background: $grey;
    color: $black;
    border-radius: 20px 20px 20px 3px;
    display: block;
    max-width: 35%;
    width: max-content;
    padding: 7px 13px 7px 13px;

    &.currentUser {
      background: $light-blue;
      border-radius: 20px 20px 3px 20px;
      color: $white;
    }
  }
}
